@media (max-width: 768px) {
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }

    input,
    button {
        position: relative;
        top: 0rem;
        left: -0.3rem;
    }
}

@media (max-width: 660px) {
    .logo svg {
        padding-bottom: 10vh;
        height: 50vh;
    }

    .texto,
    .enviar,
    .e-mail,
    .botao-de-envio,
    .leitura {
        position: relative;
        bottom: 5rem;
        left: -0.5rem;
    }

    input,
    button {
        position: relative;
        top: 0rem;
        left: -0.5rem;
    }

    h2 {
        font-size: 18px;      
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .logo svg {
        padding-bottom: 10vh;
        height: 39vh;
    }

    .texto,
    .enviar,
    .e-mail,
    .botao-de-envio,
    .leitura {
        position: relative;
        bottom: 6.8rem;
        left: -0.5rem;
    }

    h2 {
        font-size: 16px;      
    }

    p {
        font-size: 12px;
    }

    h3 {
        font-size: 14px;
    }

    input,
    button {
        position: relative;
        top: 0.5rem;
        left: -0.5rem;
    }
}
