@media (max-width: 768px) {
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }

    .botao-de-envio{
        max-height: 37px;
    }
}

@media (max-width: 660px) {
    h2 {
        font-size: 16px;      
    }

    p {
        font-size: 14px;
    }

    h3 {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    h2 {
        font-size: 13px;      
    }

    p {
        font-size: 12px;
    }

    h3 {
        font-size: 12px;
    }

    .texto,
    .enviar,
    .leitura{
        position: relative;
        bottom: 10vh;
    }

    .enviar {
        left: -10px;
    }

    .botao-de-envio{
        max-height: 37px;
    }
}

@media (max-width: 375px) {
    h2 {
        font-size: 12px;
    }

    p {
        font-size: 11px;
    }
}