@media (max-width: 970px) {
    .logo svg {
        position: relative;
        bottom: 15vh;
        min-width: 40vh;
        min-height: 40vh;
    }

    .fundo img {
        position: fixed;
        min-width: 50vh
    }

    .textos-da-pagina {
        position: fixed;
        min-width: 50vh;
    }

    .texto {
        position: relative;
        bottom: 35vh;
        font-size: 14px;
        padding-right: 20px;
        padding-top: auto;
    }

    .enviar {
        position: relative;
        bottom: 35vh;
    }

    .leitura {
        position: relative;
        bottom: 35vh;
        font-size: 13px;
        padding-right: 20px;
    }
}